

<div  class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href="#/dashboard" class="al-logo clearfix"><img class="main-logo" src="/assets/Logo1.gif" height="30px" alt="Logo" style="display: inline;"><span> Hyper</span>Perform</a>
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

  <!--<div class="search">-->
    <!--<i class="ion-ios-search-strong" ng-click="startSearch()"></i>-->
    <!--<input id="searchInput" type="text" placeholder="Search for...">-->
  <!--</div>-->

  <div class="user-profile clearfix">

    <div class="al-user-profile" uib-dropdown>

      <a uib-dropdown-toggle class="profile-toggle-link">


        <img  ng-src="{{::( 'Nasta' | profilePicture )}}">
        <p style="font-size: 120%;position: absolute;right: 30%;text-align: center;z-index: 5; background-color: transparent" id="profileName"></p>

      </a>
      <ul   class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <li><a href="#/profile"><i class="fa fa-user"></i>Profile</a></li>
        <!--<li><a href><i class="fa fa-cog"></i>Settings</a></li>-->
        <li><a href class="signout" onclick="logout()"><i class="fa fa-power-off"></i>Sign out</a></li>
      </ul>
    </div>
    <!--<msg-center></msg-center>-->
  </div>
</div>

<script>
  function logout() {
    var d = new Date();
    d.setTime(d.getTime() + (-1*24*60*60*1000));
    var expires = "expires="+d.toUTCString();
    var email = "", position = "", name ="";
    document.cookie = "hpkey="+email + "#" + position +"%" + name +"; " + expires;
    window.location.href = '/';
  }
$('#profileName').html(getCookie('hpkey').split('%')[1]);
//  documen.getElementById('profileName').innerHTML = getCookie('hpkey').split('%')[1];
</script>
