
<div class="row" ng-controller="pacrtl">

        <div class="col-md-3 col-sm-3">
            <div class="panel bootstrap-panel">
                <a ng-href="#/detailed/github"><div class="panel-heading github">GitHub</div></a>
                <div class="panel-body">
                    <div class="col-xs-3">
                        <i class="fa fa-github fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div class="large" *ng-if="summary">{{ summary.github }}%</div>
                        <div>Commit Rate</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3">
            <div class="panel bootstrap-panel">
                <a ng-href="#/detailed/travis"><div class="panel-heading travis">Travis</div></a>
                <div class="panel-body">
                    <div class="col-xs-3">
                        <i class="fa fa-gears fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div class="large" *ng-if="summary">{{ summary.travis }}%</div>
                        <div>Build Ratio</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3">
            <div class="panel bootstrap-panel">
                 <a ng-href="#/detailed/issues"><div class="panel-heading issues">Issues</div></a>
                <div class="panel-body">
                    <div class="col-xs-3">
                        <i class="fa fa-bug fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div class="large" *ng-if="summary">{{ summary.issues }}%</div>
                        <div>Issue Ratio</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3">
            <div class="panel bootstrap-panel">
                <a ng-href="#/detailed/entryexit"><div class="panel-heading entry">Entry/Exit</div></a>
                <div class="panel-body">
                    <div class="col-xs-3">
                        <i class="fa fa-credit-card fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div class="large">{{ summary.entry }}%</div>
                        <div>Time On Site</div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-lg-6 col-md-4" ng-controller="chartJs2DCtrl">
            <div ba-panel ba-panel-title="Line" ba-panel-class="with-scroll ">
                <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels"
                        chart-legend="false" chart-series="series" chart-click="changeData"></canvas>
            </div>
        </div>


    <div class="col-lg-6 col-md-4" ng-controller="chartJs1DCtrl">

        <div ba-panel ba-panel-title="PA Score" ba-panel-class="with-scroll ">
            <canvas id="doughnut" chart-options="options" class="chart chart-doughnut"
                    chart-legend="true" chart-data="data" chart-labels="labels">
            </canvas>
        </div>
    </div>
</div>


