language: java
script:
  - mvn test

services:
  - postgresql

before_script:
  - psql -c 'CREATE DATABASE hyperperform;' -U postgres
  - psql -d hyperperform -c 'CREATE TABLE public."GitPush" ( id integer NOT NULL, repository character varying(255), "timestamp" timestamp without time zone, username character varying(255), CONSTRAINT "GitPush_pkey" PRIMARY KEY (id) ); CREATE SEQUENCE public.hibernate_sequence INCREMENT 1 MINVALUE 1 MAXVALUE 9223372036854775807 START 1 CACHE 1;' -U postgres
  
test:
  adapter: postgresql
  database: hyperperform

notifications:
  slack: codusmaximus:TfshAEu8LRkjOGkyZnOQq5ys
  webhooks: https://hyperperform.me:8443/hyperperform-system-1.0-SNAPSHOT/rs/TravisEvent