<div class="modal-content">
    <div class="modal-header bg-success">
        <i class="ion-checkmark modal-icon"></i><span> Date Picker</span>
    </div>
    <div class="modal-body text-center">
        <div  ng-controller="calendarPicker">
            <div class="row" >
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3 date">
                    <span style="color: dodgerblue;">StartDate:</span>
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt1" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-2 col-xs-2 " uib-timepicker ng-model="mytime1" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                <div id="date1" style="display: none"> {{dt1 | date:'yyyy-MM-dd' }} </div>
                <div id="time1" style="display: none"> {{mytime1 | date:'HH:mm:ss' }}</div>
            </div>
            <br /> <hr/>
            <div class="row" >
                <div class="col-lg-! col-md-1"></div>
                <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3 date">
                    <span style="color: dodgerblue" >EndDate:</span>
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt2" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                         <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div  class="col-lg-4 col-md-4 col-sm-2 col-xs-2" uib-timepicker ng-model="mytime2" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                <div id="date2" style="display: none"> {{dt2 | date:'yyyy-MM-dd' }} </div>
                <div id="time2" style="display: none"> {{mytime2 | date:'HH:mm:ss' }}</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="$dismiss()">OK</button>
    </div>
</div>

