<div  ng-controller="calendarPicker">
	<div class="row" >
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 date">

			StartDate:
			<p class="input-group">
				<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt1" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
				<span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
			</p>
		</div>


		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 " uib-timepicker ng-model="mytime1" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>

		<div id="date1" style="display: none"> {{dt1 | date:'yyyy-MM-dd' }} </div>
		<div id="time1" style="display: none"> {{mytime1 | date:'HH:mm:ss' }}</div>

		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 date">

			EndDate:
			<p class="input-group">
				<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt2" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
				<span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
			</p>
		</div>


		<div  class="col-lg-2 col-md-2 col-sm-2 col-xs-2" uib-timepicker ng-model="mytime2" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
		<div id="date2" style="display: none"> {{dt2 | date:'yyyy-MM-dd' }} </div>
		<div id="time2" style="display: none"> {{mytime2 | date:'HH:mm:ss' }}</div>

	</div>
</div>
<div  ng-controller="NotificationsPageCtrl">
<div id="loading">
	<h1 style="top: 0; bottom: 0; margin: auto; ">Loading ...</h1>
	<img class="imageRot img-responsive"   id="theimage" src="assets/Logo1.gif" alt=""  />
</div>


<div ng-controller="issuesCtrl">
	<button class='btn btn-success load' id="loadbtn" ng-click='loadIssues()'>Load <i class='fa fa-cog' aria-hidden='true'></i></button>

	<div id="after">
		<div id="tabs"></div>
		<hr >
	<div class="row" ng-repeat="repo in repos">
		<div class="panel bootstrap-panel">

			<a data-toggle='collapse' data-target='#{{ repo[0].repository }}'>
				<div class="panel-heading issues" >
					{{ repo[0].repository }}
					<div class='pull-right'>
						<i class='fa fa-caret-down'></i>
					</div>
				</div>
			</a>

			<div class="panel-body" id='{{ repo[0].repository }}'>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="horizontal-scroll">
							<div class="form-group select-page-size-wrap ">
								<label>Rows on page
									<select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
											ng-model="issuesDataSize" ng-options="i for i in [3,5,10,15,20,25]">
									</select>
								</label>
								<a class="cursor" ng-click="showSearch(repo[0].repository)"><i class="fa fa-search fa-2x"></i></a>

							</div>
							<table   class="table" st-table="repo">
								<thead>
								<tr>
									<th colspan="2"><input st-search="" class="form-control" placeholder="Global Search ..." type="text"/></th>
								</tr>
								<tr class="sortable">
									<th class="table-id" st-sort="id" st-sort-default="true">#</th>
									<th st-sort="title">Title</th>
									<th st-sort="action">Status</th>
									<th st-sort="timestamp">Timestamp</th>
									<th st-sort="assignee">Assignee</th>
									<th st-sort="createdBy">CreatedBy</th>
									<th>Url</th>
								</tr>
								<tr class="searchDisp" id="{{repo[0].repository}}Search">
									<th></th>
									<th><input st-search="title" placeholder="Search Title" class="input-sm form-control search-input"
											   type="search"/></th>
									<th><input st-search="action" placeholder="Search Status" class="input-sm form-control search-input"
											   type="search"/></th>
									<th><input st-search="timestamp" placeholder="Search Date" class="input-sm form-control search-input"
											   type="search"/></th>
									<th><input st-search="assignee" placeholder="Search Assignee" class="input-sm form-control search-input"
											   type="search"/></th>
									<th><input st-search="createdBy" placeholder="Search CreatedBy" class="input-sm form-control search-input" type="search"/>
									</th>
								</tr>
								</thead>
								<tbody>
								<tr ng-repeat="item in repo" ng-class="{opened: item.action == 'assigned'}">
									<td class="table-id">{{item.id}}</td>
									<td>{{item.title}}</td>
									<td>{{item.action}}</td>
									<td>{{item.timestamp}}</td>
									<td>{{item.assignee}}</td>
									<td>{{item.createdBy}}</td>
									<td><a  class="clickCursor" ng-href="{{item.url}}"> follow</a></td>
								</tr>
								</tbody>
								<tfoot>
								<tr>
									<td colspan="6" class="text-center">
										<div st-pagination="" st-items-by-page="issuesDataSize" st-displayed-pages="5"></div>
									</td>
								</tr>
								</tfoot>
							</table>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
</div></div>