@media screen and (min-width: 1620px) {
  .row.shift-up {
    > div {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
 .panel.feed-panel.large-panel {
   height: 824px;
 }
}

.user-stats-panel {
  .panel-title {
    padding: 0 0 15px;
  }
}

.rooeeend {
  visibility: hidden;
}

.cool-hwhip:hover {
  .rooeeend {
    visibility: visible;
  }
}
//.fa-spinner{
//  color: black;
//}
//
//.fa-spin {
//  color: black;
//}

.tabs {
background-color: rgba(black, 0.85);
margin-bottom: 5px;
margin-right: 5px;

}
a.tabs:hover
{
  color: white !important;
}

.cursor {
  cursor: pointer;
}
.searchDisp {
  display: none;
}

.closed {
  //color: black;
  background-color: lightgreen;

}

.opened {
  color: black;
  background-color: lightsalmon;

}



.white {
  color: white;
}
//
//.headrow
//{
//  background-color: #209E91;
//  color: white;
//}


