@media screen and (min-width: 1620px) {
  .row.shift-up {
    > div {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
 .panel.feed-panel.large-panel {
   height: 824px;
 }
}

.user-stats-panel {
  .panel-title {
    padding: 0 0 15px;
  }
}

.rooeeend {
  visibility: hidden;
}

.cool-hwhip:hover {
  .rooeeend {
    visibility: visible;
  }
}
//.fa-spinner{
//  color: black;
//}
//
//.fa-spin {
//  color: black;
//}

.tabs {
background-color: rgba(black, 0.85);
margin-bottom: 5px;
margin-right: 5px;

}
a.tabs:hover
{
  color: white !important;
}

.cursor {
  cursor: pointer;
}
.searchDisp {
  display: none;
}

.closed {
  //color: black;
  background-color: lightgreen;

}

.opened {
  color: black;
  background-color: lightsalmon;

}



.white {
  color: white;
}
//
//.headrow
//{
//  background-color: #209E91;
//  color: white;
//}

.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}

.date {
  margin-top: 3%;
}

.load {
  margin-top: -4.8%;
  right: 2%;
  float: right;
  position: fixed;
}

.loadEntry {
  margin-top: -6.5%;
  right: 2%;
  float: right;
  position: fixed;
}

.clickCursor {
  cursor: pointer;
}

.clickCursor:hover {
  color: blue;
}


.right {
  float: right;
}

.blue {
  color: dodgerblue;
}

.commits {
  //font-weight: bolder;
  //margin-left: -2%;
  text-align: left;
  right: 5%;
}

.issues {
  margin-top: -5px;
  padding-bottom: 5px;
}
