.table-panel {
  height: 295px;
}

body{
	overflow-x: hidden;
}


img{
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
	min-height:50%;
	left: 0;
	right: 0;

	margin-left: 45%;
}

.main-logo {
	position: relative;
	margin-left: auto;
}

.failed {
	//background-color: #FF9F9F;
	//background-color: #Ffc976;
	background-color: #ff5252;
	color: white;
}

.passed {
	//background-color: #9FFFAF;
	//background-color: #BFFF86;
	color: black;
}

.imageRot {
	// Chrome and others
	-webkit-animation-name:             rotate;
	-webkit-animation-duration:         1s;
	-webkit-animation-iteration-count:  infinite;
	-webkit-animation-timing-function: linear;

	//
	-moz-animation-name: rotate;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count:  infinite;

	//
	animation-name: rotate;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count:  infinite;
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes rotate {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}


@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

