<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <h1 class="page-header">
        Travis
      </h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-dashboard"></i>
          <a href="Javascript:void(0)" [routerLink]="['/dashboard','/home']"> Dashboard</a>
        </li>
        <li class="active">
          <i class="fa fa-fw fa-gears"></i> Travis
        </li>
      </ol>
    </div>
  </div>
  <div class="col-xl-12 ">
    <div class="card card-success card-inverse">
      <div class="card-header card-success">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa-gears fa-5x" *ngIf="summary"> {{ summary.name }}</i>
          </div>
          <div class="col-xs-9 text-xs-right">
            <div class="huge"  *ngIf="summary">{{ summary.rate }}%</div>
            <div>Build Rate</div>
          </div>
        </div>
      </div>
      <div   class="card-footer card-default">
        <div class="row">
          <div class="col-xl-6">
            <div class="card card-block" style="color: grey">
              Total Builds:
            </div>
          </div>
          <div class="col-xl-6">
            <div class="card card-block">
              <div id="travis-graph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>





