
<div class="row" ng-controller="pacrtl">

        <div class="col-md-3 col-sm-3">
            <div class="panel bootstrap-panel">
                <a ng-href="#/detailed/github"><div class="panel-heading github">GitHub</div></a>
                <div class="panel-body">
                    <div class="col-xs-3">
                        <i class="fa fa-github fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div class="large" *ng-if="summary"><i name="spinner" class="fa fa-spinner fa-spin fa-exclamation-triangle"> </i>{{ summary.github }}{{ p }}</div>
                        <div>Commit Rate</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3">
            <div class="panel bootstrap-panel">
                <a ng-href="#/detailed/travis"><div class="panel-heading travis">Travis</div></a>
                <div class="panel-body">
                    <div class="col-xs-3">
                        <i class="fa fa-gears fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div class="large" *ng-if="summary"><i name="spinner" class="fa fa-spinner fa-spin"></i>{{ summary.travis }}{{ p }}</div>
                        <div>Build Ratio</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3">
            <div class="panel bootstrap-panel">
                 <a ng-href="#/detailed/issues"><div class="panel-heading issues">Issues</div></a>
                <div class="panel-body">
                    <div class="col-xs-3">
                        <i class="fa fa-bug fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div class="large" *ng-if="summary"><i name="spinner" class="fa fa-spinner fa-spin"></i>{{ summary.issues }}{{ p }}</div>
                        <div>Issue Ratio</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3">
            <div class="panel bootstrap-panel">
                <a ng-href="#/detailed/entryexit"><div class="panel-heading entry">Entry/Exit</div></a>
                <div class="panel-body">
                    <div class="col-xs-3">
                        <i class="fa fa-credit-card fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div class="large"><i name="spinner" class="fa fa-spinner fa-spin"></i>{{ summary.entry }}{{ p }}</div>
                        <div>Time On Site</div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <style>
            *{
                box-sizing: border-box;
            }

            body{
                font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
                }

            .cf:before,
            .cf:after {
                content: " ";
                display: table;
            }

            .cf:after {
                clear: both;
            }

            .progress-wrapper{
                position: relative;
                margin:20px auto;
                font-size: 40px;
            }

            .progress{
                position: absolute;
                color: #666666;
                font-weight: 100;
                line-height: 0.8;
            }

            .container{
                width: 100%;
                max-width: 960px;
                margin:50px auto 100px;
                text-align: center;
            }

            button{
                display: inline-block;
                padding: 10px 20px;
                background: #45ccce;
                color:#fff;
                font-size: 16px;
                border:none;
                cursor: pointer;
                border-radius: 4px;
                text-align: center;
                margin: 0 5px 5px 0;
            }

            form{
                text-align: left;
                max-width: 350px;
                margin: 30px auto;
            }

            form > div{
                margin-bottom: 15px;
            }

            input, select{
                float:right;
                padding: 5px;
                width: 150px;
            }

            input[type="checkbox"]{
                width: auto;
            }

            input[type="color"]{
                height: 30px;
            }

            .back{
                position: fixed;
                top:5px;
                right:5px;
            }

            @media(max-width: 480px){
                .back{
                    position: static;
                    display: block;
                    text-align: center;
                }

                input, select{
                    width: 100%;
                    margin-top: 5px;
                    float:none;
                }

                .container{
                    margin-top: 25px;
                }
            }
        </style>

    <div class="row">
         <!-- <div ba-panel ba-panel-title="Overview" ba-panel-class="with-scroll "> -->
         <div class="panel bootstrap-panel">
            <div class="panel-heading">OVERVIEW </div>
            <div class="panel-body">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-controller="chartJs2DCtrl" style="border-right: 1px lightgrey solid;">
                    <h3 align="center">Line</h3>
                    <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels"
                                    chart-legend="false" chart-series="series" chart-click="changeData"></canvas>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
                <div class="visible-sm visible-xs">
                <hr style="color:grey;">
                </div>
                <div class="visible-sm visible-xs" style="margin-top: 2%;">
                    <h3 align="center">PA Score</h3>
                </div>
                <div class="visible-lg visible-md">
                    <h3 align="center">PA Score</h3>
                </div>
                    <div class="container" ng-controller="chartJs1DCtrl">
                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle()">{{ preciseCurrent || current }}</div>
                            <round-progress
                                    max="max"
                                    current="current"
                                    color="{{ getColor() }}"
                                    bgcolor="{{ bgColor }}"
                                    radius="{{ radius }}"
                                    semi="isSemi"
                                    rounded="rounded"
                                    stroke="{{ stroke }}"
                                    clockwise="clockwise"
                                    responsive="responsive"
                                    duration="{{ duration }}"
                                    animation="{{ currentAnimation }}"
                                    offset="{{ offset }}"
                                    animation-delay="{{ animationDelay }}"
                                    on-render="showPreciseCurrent">

                                <svg>
                                    <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                                        <stop offset="5%"  stop-color="red"/>
                                        <stop offset="95%" stop-color="#0EA5A5"/>
                                    </linearGradient>
                                </svg>
                            </round-progress>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>


