<div  ng-controller="NotificationsPageCtrl">
<div ng-controller="pacrtl">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success right" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-calendar" aria-hidden="true"></i>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"><i class="ion-checkmark modal-icon"></i> Date Picker</h4>
                </div>
                <div class="modal-body">
                    <div  ng-controller="calendarPicker">
                        <div class="row" >
                            <div class="col-lg-1 col-md-1"></div>
                            <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3 date">
                                <span style="color: dodgerblue;">StartDate:</span>
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt1" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                                </p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-2 col-xs-2 " uib-timepicker ng-model="mytime1" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                            <div id="date1" style="display: none"> {{dt1 | date:'yyyy-MM-dd' }} </div>
                            <div id="time1" style="display: none"> {{mytime1 | date:'HH:mm:ss' }}</div>
                        </div>
                        <br /> <hr/>
                        <div class="row" >
                            <div class="col-lg-! col-md-1"></div>
                            <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3 date">
                                <span style="color: dodgerblue" >EndDate:</span>
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt2" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                         <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                                </p>
                            </div>
                            <div  class="col-lg-4 col-md-4 col-sm-2 col-xs-2" uib-timepicker ng-model="mytime2" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                            <div id="date2" style="display: none"> {{dt2 | date:'yyyy-MM-dd' }} </div>
                            <div id="time2" style="display: none"> {{mytime2 | date:'HH:mm:ss' }}</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" >
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="loadDashboard()">Load <i class="fa fa-cog"></i></button>
                </div>
            </div>
        </div>
    </div>







    <script>
        $(document).ready(function(){
            $("#github").popover({content: "The total number of commits", placement: "top"});
            $("#travis").popover({content: "The percentage of successful builds", placement: "top"});
            $("#issues").popover({content: "The percentage of issues closed versus opened", placement: "top"});
            $("#entryexit").popover({content: "The number of hours on site", placement: "top"});
        });
    </script>

    <div class="row" >
    <br/><br/><br/>
        <div class="col-md-3 col-sm-3">
            <a ng-href="#/detailed/github" data-trigger="hover" id="github"><div class="panel bootstrap-panel" >
                <div class="panel-heading github">GitHub</div>
                <div class="panel-body">
                    <div class="col-xs-3">
                        <i class="fa fa-github fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div class="large" *ng-if="summary"><i name="spinner" class="fa fa-spinner fa-spin fa-exclamation-triangle"> </i>{{ summary.github }}</div>
                        <div>Total Commits</div>
                    </div>
                </div>
            </div></a>
        </div>

        <div class="col-md-3 col-sm-3">
            <a ng-href="#/detailed/travis" data-trigger="hover" id="travis"><div class="panel bootstrap-panel">
                <div class="panel-heading travis">Travis</div>
                <div class="panel-body">
                    <div class="col-xs-3">
                        <i class="fa fa-gears fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div class="large" *ng-if="summary"><i name="spinner" class="fa fa-spinner fa-spin"></i>{{ summary.travis }}{{ p }}</div>
                        <div>Build Ratio</div>
                    </div>
                </div>
            </div></a>
        </div>

        <div class="col-md-3 col-sm-3">
            <a ng-href="#/detailed/issues" data-trigger="hover" id="issues"><div class="panel bootstrap-panel">
                <div class="panel-heading issues">Issues</div>
                <div class="panel-body">
                    <div class="col-xs-3">
                        <i class="fa fa-bug fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div class="large" *ng-if="summary"><i name="spinner" class="fa fa-spinner fa-spin"></i>{{ summary.issues }}{{ p }}</div>
                        <div>Issue Ratio</div>
                    </div>
                </div>
            </div></a>
        </div>

        <div class="col-md-3 col-sm-3">
            <a ng-href="#/detailed/entryexit" data-trigger="hover" id="entryexit"><div class="panel bootstrap-panel">
                <div class="panel-heading entry">Entry/Exit</div>
                <div class="panel-body">
                    <div class="col-xs-3">
                        <i class="fa fa-credit-card fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div class="large"><i name="spinner" class="fa fa-spinner fa-spin"></i>{{ summary.entryExit }}{{ h }}</div>
                        <div>Time On Site</div>
                    </div>
                </div>
            </div></a>
        </div>

</div>
    </div>

    <style>
            *{
                box-sizing: border-box;
            }

            body{
                font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
                }

            .cf:before,
            .cf:after {
                content: " ";
                display: table;
            }

            .cf:after {
                clear: both;
            }

            .progress-wrapper{
                position: relative;
                margin:20px auto;
                font-size: 40px;
            }

            .progress{
                position: absolute;
                color: #666666;
                font-weight: 100;
                line-height: 0.8;
            }

            .container{
                width: 100%;
                max-width: 960px;
                margin:50px auto 100px;
                text-align: center;
            }

            button{
                display: inline-block;
                padding: 10px 20px;
                background: #45ccce;
                color:#fff;
                font-size: 16px;
                border:none;
                cursor: pointer;
                border-radius: 4px;
                text-align: center;
                margin: 0 5px 5px 0;
            }

            form{
                text-align: left;
                max-width: 350px;
                margin: 30px auto;
            }

            form > div{
                margin-bottom: 15px;
            }

            input, select{
                float:right;
                padding: 5px;
                width: 150px;
            }

            input[type="checkbox"]{
                width: auto;
            }

            input[type="color"]{
                height: 30px;
            }

            .back{
                position: fixed;
                top:5px;
                right:5px;
            }

            @media(max-width: 480px){
                .back{
                    position: static;
                    display: block;
                    text-align: center;
                }

                input, select{
                    width: 100%;
                    margin-top: 5px;
                    float:none;
                }

                .container{
                    margin-top: 25px;
                }
            }
        </style>

    <div class="row">
         <!-- <div ba-panel ba-panel-title="Overview" ba-panel-class="with-scroll "> -->
         <div class="panel bootstrap-panel">
            <div class="panel-heading">OVERVIEW </div>
            <div class="panel-body">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-controller="chartJs2DCtrl" style="border-right: 1px lightgrey solid;">
                    <h3 align="center">Summary</h3>
                    <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels"
                                    chart-legend="false" chart-series="series" chart-click="changeData" chart-colours="color"></canvas>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
                <div class="visible-sm visible-xs">
                <hr style="color:grey;">
                </div>
                <div class="visible-sm visible-xs" style="margin-top: 2%;">
                    <h3 align="center">PA Score</h3>
                </div>
                <div class="visible-lg visible-md">
                    <h3 align="center">PA Score</h3>
                </div>
                    <div id="loading" >
                        <i class="fa fa-spinner fa-pulse fa-5x fa-fw" style="color: #646464; text-align: center;font-size: 1050%; margin-left: 30%; margin-right: 25%; "></i> <h2 class="text-center" style="color: #646464">Loading ...</h2>
                    </div>

                    <div id="pa" class="container" ng-controller="chartJs1DCtrl">
                        <div class="progress-wrapper">
                       
                            <div class="progress ng-cloak cool-hwhip" ng-style="getStyle()">{{ preciseCurrent || current }}<b style="font-size: 15pt; color: #578E8E;">&nbsp;/&nbsp;{{ max }}</b></div><br>
                            <round-progress
                                    max="max"
                                    current="current"
                                    color="{{ getColor() }}"
                                    bgcolor="{{ bgColor }}"
                                    radius="{{ radius }}"
                                    semi="isSemi"
                                    rounded="rounded"
                                    stroke="{{ stroke }}"
                                    clockwise="clockwise"
                                    responsive="responsive"
                                    duration="{{ duration }}"
                                    animation="{{ currentAnimation }}"
                                    offset="{{ offset }}"
                                    animation-delay="{{ animationDelay }}"
                                    on-render="showPreciseCurrent">

                                <svg>
                                     <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                                        <stop offset="3%" stop-color="red"/>
                                        <stop offset="97%" stop-color="#00FF44"/>
                                    </linearGradient>
                                </svg>
                            </round-progress>
                            <!--<div class="row" style="color: #0EA5A5;">-->
                                <!--<p class="col-lg-6 col-md-6 col-sm-6 col-xs-6">0</p>-->
                                <!--<p class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ max }}</p>-->
                            <!--</div>-->
                        </div>
                         <div id="pascore"></div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

